<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefity</title>
    <link rel="stylesheet" href="../components/headers.css">
</head>
<body>
    <div class="header-containner" >
       <div>
        <img style="width: 220px;height: 100px; margin-right: 20px;" src="../components/img/logo.png" alt="">
       </div>
      
       <div style="position: relative; display: inline-block;">
        <img src="../components/img/loupe.png" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
        <input placeholder="Search..." type="search" name="search" id="search" 
            style="width: 180px; height: 30px; padding-left: 35px; border-radius: 5px;">
        </div>
    
       <ul >
            <li>What to cook</li>
            <li>Receipt</li>
            <li>Ingredients</li>
            <li>Occasions</li>
            <li>About Us</li>
            
       </ul>
       <div>
        <button style="color: deeppink; background-color: rgb(247, 204, 227); font-size: 20px;padding: 15px; border-radius: 5px; border: none;">Yours Receipt Box</button>
       </div>
       <div>
        <img src="../components/img/user.jpg" style="width: 50px;height: 50px; border-radius: 50%; margin-left: 40px;" alt="">
       </div>
    </div>
    <div class="center-container">
        <div id="left">
            <img src="../components/img/menu.png" style="width: 40px;height: 40px;" alt="">
            <span style="font-size: 30px; padding-left: 10px;padding-bottom: 10px;">FILTERS</span>
            <div>
                <h3 style="margin-top: 20px;">Type</h3>
                <input type="checkbox" name="" id=""> Pan-fried
                <input type="checkbox" name="" id="" > Stir-fried
                <br>
                <input type="checkbox" name="" id=""> Grilled
                <input type="checkbox" name="" id=""> Roadsted
                <br>
                <input type="checkbox" name="" id=""> Sauteed
                <input type="checkbox" name="" id=""> Baked
                <br>
                <input type="checkbox" name="" id=""> Steamed
                <input type="checkbox" name="" id=""> Stewed
            </div>
            <div>
                <h3 style="margin-top: 20px;">Time</h3>
                <img src="../components/img/loc.png" alt="">
            </div>
            <div>
                <h3>Rating</h3>
                <img src="../components/img/star.png" alt="">
            </div>
            <div><Button style="padding: 20px; background-color: rgb(247, 204, 227);border-radius: 5px; border: none;width: 250px;">Apply</Button></div>
        </div>
        <div id="right">
            <h1>Sorry, no results were found for "cakescascsa"</h1>
            <img src="../components/img/hinh1.png" alt="">
            <h3>We have all your Independency Day sweets covered</h3>
            <br>
            <div style="margin-left: 45px;margin-top: 10px;">
                <span style="padding: 10px; border-radius: 10px; background-color: rgb(242, 214, 229); color: palevioletred;border: none;">Sweet Cake</span>
                <span style="padding: 10px; border-radius: 10px; background-color: rgb(247, 192, 250); color: rgb(185, 15, 201);border: none;">Black Cake</span>
                <span style="padding: 10px; border-radius: 10px; background-color: rgb(242, 214, 229); color: palevioletred;border: none;">Pozole Verde</span>
                <span style="padding: 10px; border-radius: 10px; background-color: rgb(165, 242, 181); color: rgb(8, 90, 20);border: none;">Healthy food</span>
            </div>
        </div>

    </div>
   

        <div class="footer-container">
            <!-- About Us -->
            <div id="footer1">
                <h3>About Us</h3>
                <br>
                <p>Welcome to our website, a wonderful place to explore and learn how to cook like a pro.</p>
                <br>
                <div class="subscribe">
                    <input style="width: 250px;height: 40px;" type="email" placeholder="Enter your email">
                    <button style="background-color: rgb(247, 204, 227); width: 100px; height: 40px;border-radius: 5px;">Send</button>
                </div>
                <div style="margin-top: 30px;">
                    <div class="logo">
                        <img style="margin-top: 20px;" src="../components/img/footer.png" alt="Chefify Logo">
                        <span >© 2023 Chefify Company | <span>Terms of Service</span> | <span>Privacy Policy</span></span>
                    </div>
                </div>
            </div>

            <!-- Learn More -->
            <div id="footer2">
                <h3>Learn More</h3>
                <ul>
                    <li><a href="#">Our Cooks</a></li>
                    <li><a href="#">See Our Features</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <h3>Shop</h3>
                <ul>
                    <li><a href="#">Gift Subscription</a></li>
                    <li><a href="#">Send Us Feedback</a></li>
                </ul>
            </div>

        
            <!-- Recipes -->
            <div id="footer3">
                <h3>Recipes</h3>
                <ul>
                    <li><a href="#">What to Cook This Week</a></li>
                    <li><a href="#">Pasta</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li><a href="#">Healthy</a></li>
                    <li><a href="#">Vegetarian</a></li>
                    <li><a href="#">Vegan</a></li>
                    <li><a href="#">Christmas</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
           
        </div>
  

</body>
</html>